.icon { background-image: url(~sprite.png);background-size: 530px 349px;}
.icon-btn_rule { width: 218px; height: 93px; background-position: -312px 0px; }
.icon-coin_left { width: 69px; height: 108px; background-position: -136px -226px; }
.icon-coin_right { width: 116px; height: 123px; background-position: 0px -226px; }
.icon-success { width: 292px; height: 206px; background-position: 0px 0px; }
.icon-tick { width: 80px; height: 80px; background-position: -312px -113px; }